<div class="col-md-8 col-md-offset-2"></div>
<h1 style="color:#18bc9c">FAQ</h1>
<h3>What is it?</h3>
<p>Newz is just a collection of news items from the RSS feeds I follow.</p>
<h3>Why?</h3>
<p>Mostly for fun, I guess.</p>
<h3>Can I submit something?</h3>
<p>As soon as I build this feature - ETA: probably never - sure.</p>
<h3>You linked to story X and it's not funny</h3>
<p>This is not a question, but normally I only read the headlines.</p>
<h3>The headline is not funny</h3>
<p>This is also not a question! (And probably I don't care)</p>
<h3>Anything else?</h3>
<p>I will add here a email address soonish. And if you know me from social media, or this so called real live, you can tell me there how awful I am.</p>