<div class="row">
	<form class="form col-md-8 col-md-offset-2" method="post" action="/create">
		<input type="text" class="form-control" name="title" placeholder="Titel">
		<div class="input-group">
			<input type="text" class="form-control" name="url" placeholder="Url">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Save</button>
			</span>
		</div>
	</form>
</div>